[Unit]
Description=%i inference api
PartOf=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/spira-inference-system/deploy/
ExecStart=/bin/bash build-api.sh
ExecStop=/bin/bash stop-api.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SPIRA-INFERENCE

[Install] 
WantedBy=multi-user.target
