[Unit]
Description=%i model server
PartOf=docker.service
After=docker.service

[Service]
WorkingDirectory=/path-to-project/
ExecStart=/bin/bash build-server.sh
ExecStop=/bin/bash stop-server.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SPIRA-INFERENCE

[Install] 
WantedBy=multi-user.target
